@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #FFFFFF;
  color: #111111;
}

table {
  font-variant-numeric: tabular-nums;
}
